[Log]
folder: /var/log/common/
log-level: INFO
console: True

[Bdd]
host: postgres
port: 5432
password:common
user: common
dbname: common
application_name: common

[BddLogs]
host: localhost
port: 5439
dbname: logs
user: logs
password: logs
application_name: common

[SellsyProd]
v2_client_id:
v2_client_secret:
v2_host: https://api.sellsy.com
consumer_token:
consumer_secret:
user_token:
user_secret:

[SellsyDev]
v2_client_id:
v2_client_secret:
v2_host: https://api.sellsy.com
consumer_token:
consumer_secret:
user_token:
user_secret:

[TeleCommown]
telecommown_host: https://api-common.commown.coop
telecommown_user: telecoop
telecommown_password:

[TeleCoopApi]
#host: https://api-dev.telecoop.fr/v1
host: http://192.168.1.86:8000/v1
keycloak_token_url: https://id.indie.host/auth
keycloak_realm: telecoop-fr
keycloak_client_id: telecoop
keycloak_client_secret: